body {
    margin-left: 10%;
    margin-right: 20%;
    font-family: Bookman Old Style;    
}
.page-heading {
    text-align: center;
    font-size: 50px;
}

.grid-container {
    display: grid;

    grid-template-columns: repeat(4, 25% [col-start]);
    grid-template-rows: repeat(auto-fill, 1fr [row-start]);
    grid-row-gap: 1.5em;
    grid-column-gap: 2em;

    justify-items: stretch;
    text-align: center;
}
