body {
    background-color: #e8f1f2;
    background-size: cover;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.item-b {
    align-items: center;
}

.page-heading {
    font-size: 35px;
}

.item-g {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    border-style:solid;
    border-radius: 5px;
}